.game-indicator {
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(0 0 0 / 18%);
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  animation: bounceIn var(--flip-time) both;
  animation-delay: var(--delay-flip-time);
}
