.game-turn-opponent {
  --turn-red: #e68c68;
  --turn-blue: #5da2ca;

  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 95px;
  width: 100%;
}

.game-turn-opponent-label {
  animation: fadeIn 500ms ease-in-out forwards;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  font-size: 25px;
  font-weight: bold;
  padding: 5px 20px;
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.game-turn-opponent-label.blue {
  background-color: var(--turn-blue);
}

.game-turn-opponent-label.red {
  background-color: var(--turn-red);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
